*{
    padding: 0;
    margin: 0;
}
:root{
    --font-main : Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #f2f2f2;
}

menu{
    background-color: white;
    font-size: large;
    font-family: var(--font-main);
}
footer{
    background-color: white;
}

main form{
    font-family: var(--font-main);
}

th, td{
    vertical-align: center!important;
    text-align: center!important;
}