*{
    padding: 0;
    margin: 0;
}
:root{
    --font-main : Verdana, Geneva, Tahoma, sans-serif;
}
menu{
    background-color: black;
    font-size: large;
    font-family: var(--font-main);
}
footer{
    background-color: black;
}
main form{
    font-family: var(--font-main);
}

th, td{
    vertical-align: center!important;
    text-align: center!important;
}