<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <th:block th:replace="~{/fragment/app-fragment :: head-resource}"></th:block>
</head>
<body>
    <menu th:replace="~{/fragment/app-fragment :: menu}"></menu>
    <main class="container mt-5 mb-5 pt-3 pb-3 rounded shadow bg-white">
        <div class="row">
            <div class="col-md-4 border border-left-0 border-top-0 border-bottom-0" id="nav-user">
                <div class="user-info p-2 rounded shadow-sm" id="user-info">
                    <span class="badge badge-warning mr-3">Your are not login !!</span>
                    <a href="/login" class="badge badge-success">sign in</a>
                </div>
                <div class="list-file mt-3 p-2 rounded shadow-sm">
                    <div class="bar-title d-flex justify-content-between" data-toggle="collapse" data-target="#collapseFiles" aria-expanded="false" aria-controls="collapseExample">
                        <span><i class="fas fa-list-ul"></i><span class="ml-2">Your Files</span></span>
                        <span><i class="fas fa-sort"></i></span>
                    </div>
                    <div class="collapse" id="collapseFiles">
                        <hr>
                        <ul class="nav nav-tabs flex-column" id="list-data">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <a href="#" class="option text-decoration-none col-sm-3">
                        <div class="p-3 shadow-sm rounded mt-2">
                            <span class="icon"><i class="far fa-file-pdf text-danger"></i></span>
                            <span class="name font-weight-bold">Convert to PDF</span>
                        </div>
                    </a>
                    <a href="#" class="option text-decoration-none col-sm-3">
                        <div class="p-3 shadow-sm rounded mt-2">
                            <span class="icon"><i class="far fa-file-word text-primary"></i></span>
                            <span class="name font-weight-bold">Convert to Word</span>
                        </div>
                    </a>
                    <a href="#" class="option text-decoration-none col-sm-3">
                        <div class="p-3 shadow-sm rounded mt-2">
                            <span class="icon"><i class="far fa-file-excel text-success"></i></span>
                            <span class="name font-weight-bold">Convert to Excel</span>
                        </div>
                    </a>
                    <a href="#" class="option text-decoration-none col-sm-3">
                        <div class="p-3 shadow-sm rounded mt-2">
                            <span class="icon"><i class="far fa-file-powerpoint" style="color: orange;"></i></span>
                            <span class="name font-weight-bold">Convert to PPT</span>
                        </div>
                    </a>
                    <a href="#" class="option text-decoration-none col-sm-3">
                        <div class="p-3 shadow-sm rounded mt-2">
                            <span class="icon"><i class="far fa-file-image text-info"></i></span>
                            <span class="name font-weight-bold">Convert to Image</span>
                        </div>
                    </a>
                    <a href="#" class="option text-decoration-none col-sm-3">
                        <div class="p-3 shadow-sm rounded mt-2">
                            <span class="icon"><i class="fas fa-lock text-muted"></i></span>
                            <span class="name font-weight-bold">Encrypt file</span>
                        </div>
                    </a>
                    <a href="#" class="option text-decoration-none col-sm-3">
                        <div class="p-3 shadow-sm rounded mt-2">
                            <span class="icon"><i class="fas fa-unlock-alt text-primary"></i></span>
                            <span class="name font-weight-bold">Decrypt file</span>
                        </div>
                    </a>
                    <a href="#" class="option text-decoration-none col-sm-3">
                        <div class="p-3 shadow-sm rounded mt-2">
                            <span class="icon"><i class="far fa-file-archive text-muted"></i></span>
                            <span class="name font-weight-bold">Compress file</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{/fragment/app-fragment :: footer}"></footer>
    <script th:src="@{/js/model/ajax_model_user.js}"></script>
    <script th:src="@{/js/pages/ajax_page_home.js}"></script>
</body>
</html>