<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="~{/fragment/app-fragment :: head-resource}"></th:block>
</head>
<body>
<menu th:replace="~{/fragment/app-fragment :: menu}"></menu>
<main>
    <!-- Modal -->
    <div class="modal fade" id="content-file" tabindex="-1" role="dialog" aria-labelledby="content-file"
         aria-hidden="true">
        <div class="modal-dialog modal-xl h-100" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="file-content">Nội dung File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-custom">
                    <div class="row h-100">
                        <iframe
                                src='https://docs.google.com/gview?url=https://v2.convertapi.com/d/dc84f7488e81dcde935b57d41e291590/L2-Tac-tu.pptx&embedded=true'
                                width='100%' height='100%' frameborder='0'>
                        </iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-file" tabindex="-1" role="dialog" aria-labelledby="delete-file"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="file-delete">Xác nhận thao tác</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                Bạn có chắc chắn xóa File này không?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" id="btn-delete">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="share-file" tabindex="-1" role="dialog" aria-labelledby="share-file"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="file-share">Share File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <form action="" id="form-post" novalidate>
                                    <div class="form-group">
                                        <label for="email-to"><strong>Email </strong></label>
                                        <input type="text" class="form-control" name="email-to" id="email-to"
                                               placeholder="Nhập email ..." required>
                                        <div class="invalid-feedback">
                                            Bạn chưa điền email.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <b>Bạn có thể chia sẻ file bằng cách đưa cho họ link dưới đây: </b>
                                        <a href="https://v2.convertapi.com/d/01a2a96873dea8941c12c907447a5046/Example%20Paper.xlsx">
                                            https://v2.convertapi.com/d/01a2a96873dea8941c12c907447a5046/Example%20Paper.xlsx
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-success" id="btn-share">Gửi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="title-page mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>My File</h1>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="tool-page">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-2 mt-1">
                    <select class="form-control" id="sort">
                        <option>Sắp xếp</option>
                        <option>A->Z</option>
                        <option>Z->A</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="table-data mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Ngày Tạo</th>
                                <th scope="col" style="width: 300px;">Hành Động</th>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><input type="text" class="form-control" id="input-search-ten"></td>
                                <td>
                                    <input type="date" class="form-control" id="input-search-ngay-tao">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="fas fa-search"></i>
                                        Tìm kiếm
                                    </button>
                                </td>
                            </tr>
                            </thead>
                            <tbody id="table-data">
                            <tr>
                                <th scope="row">1</th>
                                <td>Otto</td>
                                <td>Otto</td>
                                <td>
                                    <button type="button" class="btn btn-success m-1" data-toggle="modal"
                                            data-target="#content-file" id="btn-view"><i class="fas fa-eye"></i>
                                        Xem trước
                                    </button>
                                    <button type="button" class="btn btn-warning m-1 share-file" data-toggle="modal"
                                            data-target="#share-file"><i class="fas fa-share-alt"></i>
                                        Chia sẻ
                                    </button>
                                    <button type="button" class="btn btn-danger m-1 delete-file" data-toggle="modal"
                                            data-target="#delete-file"><i class="fas fa-trash-alt"></i>
                                        Xóa
                                    </button>
                                    <a href="#" class="text-decoration-none text-light btn btn-success m-1">
                                        <i class="fas fa-download"></i>
                                        <span class="text-light"> TẢI FILE XUỐNG </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/app-fragment :: footer}"></footer>
<script th:src="@{/js/pages/ajax_page_my_file.js}"></script>
</body>
</html>