<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/register-process}" th:object="${user}" method="post" enctype="multipart/form-data">
        <div>
            <label>Name : </label>
            <input type="text" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label>Email : </label>
            <input type="email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            <label>Password : </label>
            <input type="text" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div>
            <label>Confirm Password : </label>
            <input type="text" th:field="*{passwordConfirm}">
            <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
        </div>
        <div>
            <label>Avatar : </label>
            <input type="file" th:field="*{avatar}">
            <span th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}"></span>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>