<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="~{/fragment/app-fragment :: head-resource}"></th:block>
</head>
<body>
<menu th:replace="~{/fragment/app-fragment :: menu}"></menu>
<main>
    <!-- Modal -->
    <div class="modal fade" id="delete-file" tabindex="-1" role="dialog" aria-labelledby="delete-file"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="file-delete">Confirm action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                Are you sure to delete this file?
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="share-file" tabindex="-1" role="dialog" aria-labelledby="share-file"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="file-share">Share File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <form action="" id="form-post" novalidate>
                                    <div class="form-group">
                                        <label for="email-to"><strong>Email </strong></label>
                                        <input type="text" class="form-control" name="email-to" id="email-to"
                                               placeholder="Enter email ..." required>
                                        <div class="invalid-feedback">
                                            You haven't entered email.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <b>You can share with another by giving them that link: </b>
                                        <a href="https://v2.convertapi.com/d/01a2a96873dea8941c12c907447a5046/Example%20Paper.xlsx" id="link-share">
                                            https://v2.convertapi.com/d/01a2a96873dea8941c12c907447a5046/Example%20Paper.xlsx
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btn-share">Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="title-page mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>My File</h1>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="tool-page">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-2 mt-1">
                    <select class="form-control" id="sort">
                        <option value="">Sort</option>
                        <option value="name-true">(Name) A->Z</option>
                        <option value="name-false">(Name) Z->A</option>
                        <option value="create_date-false">Recently</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="table-data mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered bg-light">
                            <thead>
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Create Date</th>
                                <th scope="col" style="width: 300px;">Action</th>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td><input type="text" class="form-control" id="input-search-name"></td>
                                <td>
                                    <input type="date" class="form-control" id="input-search-create-date">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" id="btn-search"><i class="fas fa-search"></i>
                                        Search
                                    </button>
                                </td>
                            </tr>
                            </thead>
                            <tbody id="table-data">
                            <tr>
                                <th scope="row">1</th>
                                <td>Otto</td>
                                <td>Otto</td>
                                <td>
                                    <button type="button" class="btn btn-warning m-1 share-file" data-toggle="modal"
                                            data-target="#share-file"><i class="fas fa-share-alt"></i>
                                        Share
                                    </button>
                                    <button type="button" class="btn btn-danger m-1 delete-file" data-toggle="modal"
                                            data-target="#delete-file"><i class="fas fa-trash-alt"></i>
                                        Delete
                                    </button>
                                    <a href="#" class="text-decoration-none text-light btn btn-success m-1">
                                        <i class="fas fa-download"></i>
                                        <span class="text-light"> Download File </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{/fragment/app-fragment :: footer}"></footer>
<script th:src="@{/js/pages/ajax_page_my_file.js}"></script>
<script th:src="@{/js/model/ajax_model_file.js}"></script>
</body>
</html>